.content{
    padding-top: 50px;
}
.divTable {
    display:table;
    text-align: center;
    border-collapse: collapse;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}
.divTableBody {
}
.divTableRow {
    display:table-row;
   
}
.divTableHead,.divTableCell {
    width:200px;
    display: table-cell;
    border-width: thin;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.divTableHead{
    background: #5B86EF;
    color: #fff;
    padding: 5px;
}
