.home {
    position:absolute;
    width: 1000px;
    left: 150px;
    right:50%;
    top:10%;
}
.pchart{
    display :flex;
    margin-bottom:30px;
     height:430px;
}
.oschart{
    width:333px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}
.ttchart{
    width:660px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}

.first{
    display:flex;
    margin-bottom:30px;
    width:1000px;
    height:200px;
    
}
.second{
    width:400px;
    margin-right:10px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}


.tt{
    width:600px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}

.server_list{
    width:1000px;
}