.serverList{
    position:absolute;
    width:1000px;
    left:50%;
    right:50%;
    top:70%;
    margin-top:150px;
    -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.name{
    margin-left:30px;
    font-size:20px;
}
.cpu_mem {
    display:flex;
    height:300px;
    margin-bottom:50px;
}
.cpu{
    width:600px;
    margin-right:10px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}
.cpuNav {
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;

}
.detailButton {
   height:20px;
}
.memory {
    width:375px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
    
}
.memNav {
    display:flex;
    justify-content:space-between;

}

.disk_net {
    display:flex;
    height:320px;

}
.disk {
    width:495px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
    margin-right:10px;
    
}
.diskNav {
    display:flex;
    justify-content:space-between;
}
.diskIoName{

}
.net {
    width:495px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}
.netNav {
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}
.proc {
    margin-top:50px;
    -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}