.disk_main{
    position:absolute;
    width: 1000px;
    left: 50%;
    right:50%;
    top:60%;
    -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.start_stop{
    margin-bottom:15px;
}
.disk_firstpart{
    display:flex;
    margin-bottom:50px;
    height:320px;
   
}
.disk_io_count{
    width:500px;
    height:320px;
    margin-right:10px;
     -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}
.disk_io_bytes{
    width:500px;
    height:320px;
    margin-right:10px;
     -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}

.disk_secondpart{
    display:flex;
    margin-bottom:30px;
    height:250px;
   
}
.disk_io_time{
    width:650px;
    height:300px;
    margin-right:10px;
     -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}
.disk_part{
    width:350px;
    height:300px;
    margin-right:10px;
     -webkit-box-shadow: 0px 0px 12px -2px #000000; 
    box-shadow: 0px 0px 12px -2px #000000;
}