.topbar { 
    width: 1000px;
    height: 50px;
    left:50%;
    right:50%;
    top:5%;
    position:absolute;
    -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.topbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.topLeft{
    position:relative;
}
.topLeft img{
    vertical-align:middle;
}
.text{
    position:absolute;
    top:35%;
}
.logo {
    font-weight: bold;
    font-size: 30px;
    color:darkblue;
    cursor:pointer;
}

.topbarIconContainer{
    position: relative;
    margin-right: 15px;
    color: #555;
}
.topIconBadge {
    position: absolute;
    top: -5px;
    right: 5px;
    
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    
    display: flex;
    align-itmes: center;
    justify-content: center;
    
    font-size: 13px;
    color: white;
}
.topRight {
    display: flex;
    align-items:center;
}
